
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    <h1>@Html.ActionLink("Employer", "Index", "EmployerForm", new { area = "" }, null)</h1>
    <h1>@Html.ActionLink("Sudent", "Index", "StudentForm", new { area = "" }, null)</h1>

</div>

